<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Form Api</title>    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="/linearicons/fonts.css" rel="stylesheet">
        <link href="/css/animate.min.css" rel="stylesheet">
        <link href="/css/style-demos.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/prism.css" rel="stylesheet">
        <style type="text/css"> 
            .bg-demo-form {
                background-color: #fff !important;
                border-radius: .3rem;
                padding-top: 20px !important;
            }
        </style>
    </head>
    <body data-spy="scroll" data-offset="73" data-target="#navbar-demos">
        <nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-white fixed-top">
            <a class="navbar-brand font700" href="/">FORM-API<sub class="fs10 text-muted"> ...</sub></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-demos" aria-controls="navbar-demos" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-demos">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" data-scroll="" href="/#demo">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll="" href="/#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll="" href="/#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll="" href="/#reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-scroll="" target="_blank" href="/docs">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/login" class="bg-success btn text-white">Log In</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="intro-header bg-primary text-white" style="background:url(/images/pattern-1.png)" id="demo">
            <div class="container-fluid"> 
              <div class="row">
              <div class="col-lg-5 text-center ml-auto">
                <div class="h1 font500 text-white mb20">
                    Form-API
                </div>
                <p class="text-muted pb-4 lead">                                                
                    Determine gender of a first name, or full name.</br>  
                    Autocomplete state and cities, or determine them from zip code.</br>
                    Enrich and validate your data.</br>
                </p>
              </div>
                <div class="col-lg-3 ml-auto mr-auto bg-demo-form">
                  <form id="linkform" action="/account/forgotpassword" method="post" role="form" novalidate="">
                      {% if (flash.info) %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{flash.info}}
                        </div>
                      {% endif %} 
                      <input type="hidden" name="_csrf" value="{{csrfToken}}">   
                      <div class="form-group row">                                        
                        <div class="col-sm-12">
                          <input type="text" class="valid form-control {% if message && message.error %}is-invalid{% endif %}" id="email" name="email" value="{{email}}" placeholder="Email">
                          <div class="invalid-feedback">
                              Invalid email
                          </div>                                               
                        </div>
                      </div>
                      <div class="form-group row">                                        
                        <div class="col-sm-12">
                          <button type="submit" id="linkbutton" class="btn btn-success btn-block">Send Link</button>
                        </div>
                      </div>                                 
                    </form>                        
                </div>  
            </div>
       </div>
        </div>
        
        <div class="bg-darkx">
            <footer class="container text-left py-5">
                <div class="row">
                    <div class="col-12 col-md">
                        <h5 class="font500"><img src="/images/logo.png" alt=""></h5>
                        <small class="d-block mb-3 text-muted">© 2018. Form-API | <a href=""> terms & conditions</a> I | <a href=""> privacy</a> </small>

                    </div>
                </div>
            </footer>
        </div>
        <!-- Common plugins -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/jquery.textillate.js"></script> 
<script type="text/javascript" src="/js/jquery.lettering.js"></script> 
<script type="text/javascript" src="/js/smooth-scroll.min.js"></script> 
<script type="text/javascript">
$( "#linkbutton" ).click(function(e) {
  e.preventDefault()    
  $(this).prop('disabled', true)
  $("#linkform").submit()
})      
</script>
</body>
</html>
